# Ignore all by default
*
*/
!.gitignore

!.gitconfig
!.inputrc
!.bashrc
!.bash_profile

!bin
!bin/*

!setup
!setup/*

# iTerm2 profile
!.iTerm2
!.iTerm2/*

# Atom editor config files
!.atom
.atom/*
!.atom/config.cson
!.atom/snippets.cson

# VS Code config files
!Library
Library/*
!Library/Application Support
Library/Application Support/*
!Library/Application Support/Code
Library/Application Support/Code/*
!Library/Application Support/Code/User
Library/Application Support/Code/User/*
!Library/Application Support/Code/User/settings.json

# Font files
!.local
.local/*
!.local/share
.local/share/*
!.local/share/fonts
!.local/share/fonts/*
