# Ignore all by default
*
*/

# Git configuration files
!.gitignore
!.gitconfig

# Bash configuration files
!.bashrc
!.bash_profile
!.inputrc

# Bash default modules
!.bashrc.d/default/*

# Mute "last login" message
!.hushlogin

# Executables
!bin/*

# OS setup
!setup/*

# iTerm2 profile
!.iTerm2/*

# VS Code config files
!Library/Application Support/Code/User/settings.json

# Font files
!.local/share/fonts/*
