# Ignore all by default
*
*/
!.gitignore

!.gitconfig
!.inputrc
!.bashrc
!.bash_profile

!setup
!setup/*

# iTerm2 profile
!.iTerm2
!.iTerm2/*

# Atom editor config files
!.atom
.atom/*
!.atom/config.cson
!.atom/snippets.cson

# Font files
!.local
.local/*
!.local/share
.local/share/*
!.local/share/fonts
!.local/share/fonts/*
